/* COMMON */
body {
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: #fff;
}

/* INNER */
.inner {
  width: 900px;
  margin: 0 auto;
  /* position: relative; */
}

/* HEADER */
.nav {
  padding-top: 20px;
  background-color: #000;
}
.nav .nav-item {
  align-content: center;
}
.nav .nav-link {
  background-color: rgba(0,0,0,0);
}
.nav #btnLogo {
  background-color: #000;
  padding-right: 0;
}
.nav #toAboutUs {
  /* display: block; */
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  /* 가운데 정렬 */
  padding-left: 8px;
  text-align: center;
}
.nav .inputWrapper {
  position: relative;
  width: 420px;
  height: 36px;
  border-radius: 36px;
  background-color: #fff;
  margin: 10px 30px;
}
.nav .inputWrapper .MainSearch {
  width: 80%;
  height: 100%;
  border: none;
  font-size: 16px;
  margin-left: 5%;
}
.nav .inputWrapper #searchBtn {
  position: absolute;
  right: 5%;
  top: 20%;
  color: #000;
}
.nav #btnToMyGallery {
  padding-right: 0;
}
.nav #btnOpenGallery {
  padding-left: 8px;
}

/* MAIN SECTION1 */
.mainSection1 {
  
}
.mainSection1 img {
  max-width: 100%;
  /* background-attachment: fixed; */
  /* background-position: center; */
  /* background-size: cover; */
  background-color: #000;
}
.mainSection1-container {
  height: 200px;
  margin: 50px 0;
  display: flex;
  /* justify-content: center; */
  align-content: center;
}
.mainSection1-container .number {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}
.mainSection1-container .contaienr2 {
  text-align: right;
}
.mainSection1-container .contaienr2 #MainNum {
  font-size: 18px;
  font-weight: 600;
}

/* MAIN GALLERY */
.grid-gallery {
  background-color: #000;
}
.grid-gallery .container1 {
  background-color: antiquewhite;
  width: 70%;
  /* justify-content: center; */
  align-items: center;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap: 30px;
	row-gap: 30px; */
}
.grid-gallery .item {

}

/* MAIN KEYWORD SECTION */
.mainKeywordSection {
  background-color: #fff;
  width: 100%;
  height: 200px;
  align-items: center;
}
.mainKeywordSection .wrapper {
  background-color: bisque;
  display: flex;
  padding-top: auto;
  /* 가운데 정렬 */
}
.mainKeywordSection .container1 {
  flex-grow: 1;
  align-content: center;
}
.mainKeywordSection .container1 .KeywordTitle {
  font-weight: 600;
}
.mainKeywordSection .container2 {
  
}
.mainKeywordSection .container2 img {
  width: 90px;
}

/* FOOTER */
.footer {
  background-color: #000;
  color: #fff;
  height: 200px;
  padding: 20px;
  padding: 30px 0;
}
.footer .bigWrapper {
  /* background-color: aquamarine; */
  width: 70%;
  margin: auto;
  /* justify-content: center; */
}
.footer .bigWrapper hr {
  width: 100%;
  border: .5px solid #fff;
}
.footer .smallWrapper {
  display: flex;
  justify-content: space-between;
  /* margin: auto; */
}
.footer .container1 {

}
.footer .container2 {

}

.footer .container2 a {
  display: block;
  margin: 10px;
}
.footer .container2 p {
  margin-left: 10px;
}
.footer .container3 {
  display: flex;
}
.footer #instagram {
 /* background-color: rgba(0,0,0,0); */
 /* justify-content: right; */
 /* margin-right: auto; */
 align-content: right;
}