/* COMMON */
body {
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: #000;
}

/* INNER */
.inner {
  width: 900px;
  margin: 0 auto;
  /* position: relative; */
}

/* HEADER */
.nav #toAboutUs {
  visibility: hidden;
}
.nav .inputWrapper {
  position: relative;
  width: 420px;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
  margin: 10px 30px;
}
.nav .inputWrapper input[type="search"] {
  width: 80%;
  height: 100%;
  border: none;
  font-size: 16px;
  margin-left: 5%;
}
.nav .inputWrapper .btnSearch {
  position: absolute;
  right: 5%;
  top: 20%;
  background-color: rgba(0,0,0,0);
  border: none;
}

/* MY PAGE MAIN SECTION */
.myPageHeader {
  color: #fff;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
}
.myPageMainSection .mypage-big-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}
.myPageMainSection .mypage-small-wrapper .container a {
  display: block;
}