@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Roboto&display=swap');

* {
    font-family: "Noto Sans";
}

.logo{
width: 159px;
top: 16px;
}

.nav-item a {
    color: #206A5D; 
    font-weight: bold;
    margin-left: 20px;
}

.btn-nav {
    /*³×ºñ¹Ù*/
    display:block;
    font-weight: bold;
    width:150px; 
    line-height:40px; 
    border:1px #206A5D  solid;
    border-radius: 13px;
    margin-left: 30px;
    text-align:center; 
    cursor: pointer;  
    color:white; 
    background-color: #206A5D;
}

.btn-nav:hover{
    color:#206A5D;
    background-color: white;
}

.btn-nav2 {
    display:block;
    font-weight: bold;
    width:150px; 
    line-height:40px; 
    margin-left: 30px;
    border:1px #206A5D  solid;
    border-radius: 13px;
    text-align:center; 
    cursor: pointer;  
    color:#206A5D; 
    background-color: white;
}

.btn-nav2:hover{
    color:white;
    background-color: #206A5D;
}

.row {
    margin-top: 30px;
    background-color: #effffc;

}

.title {
    margin-top: 45px;
    text-align: center;
    font-size: 40px;
    color: #000000;
    font-weight: bold;
}

.title2{
    text-align: center;
    font-family: "Roboto";
}